# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/dataSources/
.idea/inspectionProfiles/
.idea/workspace.xml
src/main/resources/
.idea/
*.iws
*.iml
*.ipr

target/
!.mvn/wrapper/maven-wrapper.jar
