# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/dataSources/
.idea/inspectionProfiles/
src/main/resources/
target/
target/generated-sources/
target/generated-test-sources/
target/surefire-reports/

