# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/dataSources/
.idea/inspectionProfiles/

src/main/resources/
.idea/
*.iws
*.iml
*.ipr

target/
!.mvn/wrapper/maven-wrapper.jar

# Package Files #
*.jar
*.war
*.ear

### Java template
*.class


